html, body {
  height: 100%;
  margin: 0;
}

.CpuMemory-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.CpuMemory-nav {
  flex-shrink: 0;
  background-color: #15325f;
  padding: 12px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-row-CpuMemory {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 20px;
}

.serverFilter-label-CpuMemory {
  margin-left: 4px;;
  margin-right: 4px;
  font-size: 16px;
  font-weight: bold;
}

.serverFilter-CpuMemory {
  margin-left: 4px; 
  margin-right: auto;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;  
}

.CpuMemory-title {
  margin: 0;
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.export-button-CpuMemory {
  margin-left: auto;
  margin-right: 3px;
  padding: 6px 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #15325f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px;
  text-align: center;
}

.CpuMemory-main {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}



.CpuMemory-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.CpuMemory-card-title {
  margin-bottom: 10px;
  color: #333;
}

.CpuMemory-card-list {
  margin-left: 20px;
}

.CpuMemory-services {
  margin-top: 16px;
}

.CpuMemory-service-list {
  list-style: none;
  padding-left: 0;
}

.CpuMemory-service-item {
  margin: 8px 0;
}

.CpuMemory-service-name {
  font-weight: 500;
}

.normal-CpuMemory {
  color: rgb(0, 0, 0);
}

.alert-CpuMemory {
  color: red;
}

.CpuMemory-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.CpuMemory-logo-img {
  width: 110px;
  height: auto;
}

.CpuMemory-footer {
  flex-shrink: 0;
  background-color: #15325f;
  color: white;
  text-align: center;
  padding: 10px;
}

.CpuMemory-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #5c5b5b;
}

.CpuMemory-table th{
  padding: 12px 16px;
  border: 1px solid #7c7c7c;
  background-color: #15325f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.CpuMemory-table td {
  padding: 12px 16px;
  border: 1px solid #7c7c7c;
  text-align: center;
}

.CpuMemory-table tr:hover {
  background-color: #f1f1f1;
}

.highlight-green-CpuMemory {
  background-color: #e0f7fa !important; 
}

.highlight-red-CpuMemory {
  background-color: #a893e835 !important;
}