html, body {
  height: 100%;
  margin: 0;
}

.DriveSpace-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-row-DriveSpace {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 20px;
}

.serverFilter-label-DriveSpace {
  margin-left: 4px;;
  margin-right: 4px;
  font-size: 16px;
  font-weight: bold;
}

.serverFilter-DriveSpace {
  margin-left: 4px; 
  margin-right: auto;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;  
}

.DriveSpace-title {
  margin: 0;
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.export-button-DriveSpace {
  margin-left: auto;
  margin-right: 3px;
  padding: 6px 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #15325f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px;
  text-align: center;
}

.DriveSpace-main {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.DriveSpace-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #5c5b5b
}

.DriveSpace-table th {
  padding: 11px 16px;
  border: 1px solid #7c7c7c;
  background-color: #15325f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.DriveSpace-table td {
  padding: 10.5px 16px;
  border: 1px solid #7c7c7c;
  text-align: center;
}

.DriveSpace-table tbody tr:hover {
  background-color: #f1f1f1;
}

.highlight-green-DriveSpace {
  background-color: #e0f7fa !important; 
}

.highlight-red-DriveSpace {
  background-color: #a893e835 !important;
}

.normal-DriveSpace {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.alert-DriveSpace {
  color: red;
  font-weight: 700;
}

.DriveSpace-nav {
  flex-shrink: 0;
  background-color: #15325f;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.DriveSpace-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.DriveSpace-logo-img {
  width: 110px;
  height: auto;
}

.DriveSpace-footer {
  flex-shrink: 0;
  background-color: #15325f;
  color: white;
  text-align: center;
  padding: 10px;
}
